* {
  box-sizing: border-box;
}

body {
  background-color: #34495e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  /* fill is used for the head */
  /* stroke for the lines */
  /* stroke-linecap rounds the ends of the line */
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  /* position absolute (game-container is the parent and is set to relative) */
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  /* position absolute within the game-container parent(relative) */
  /* when is positioned absolute and i do left:50% , 50% is at the beginning and i want this to be right in the middle, to do that i am going to use the transform:translate property*/
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
  cursor: pointer;
}

.popup-container {
  /* position fixed ,and for make it to cover the whole size of the screen i set top,bottom,left,rigt to 0 */
  /* display flex when it is shown on the screen */
  /* display none for the application */
  /* manipulate the display property within the javascript  */
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 15px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: #fff;
  color: #2980b9;
  margin-top: 20px;
}

.popup button:active {
  /* when the button is clicked it scales down in size */
  transform: scale(0.98);
}

.notification-container {
  /* position it absolute and it`s parent will be window ,the browser body */
  /* give a negative value for the bottom property because i want it to be off the screen */
  /* to display it smoothly on and off the screen i use transition property  */
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  /* when the class .show is going to be added and invoked in javascipt the bellow is going to take effect */
  transform: translateY(-50px);
}
